$c-white: #eee;
$c-black: #181a24;
$c-shadow: #00000088;
$c-dark-rust: #311;
$c-paper: #fed;
$c-paper-shadow: #310a;

$c-page: #312b36;
$c-box: #59363f;
$c-gold: #d99d57;
$c-dirty-gold: #b77b35;
$c-script: #a6a49c;
