@import '../mq';
@import '../colors';

@font-face {
  font-family: 'Las Enter';
  src: url('/LasEnter.woff') format('woff');
}

@keyframes flicker {
  0%,
  65%,
  67%,
  69%,
  85%,
  100% {
    border-color: #e82;
    box-shadow: 0 0 0.5rem #e21;
  }
  66%,
  68%,
  70%,
  71% {
    border-color: #421;
    box-shadow: 0 0 0 #e21;
  }
}

$border: 0.3rem;
.banner {
  width: 20rem;
  margin: 2rem auto 0;
  position: relative;
  height: 7rem;
  border-left: solid $border transparent;
  border-top: solid $border transparent;
  background: $c-black;
  background-clip: padding-box;
  border-radius: 1.5rem 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 3em;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: radial-gradient(closest-corner, #888 65%, #ccc 80%, #666 100%);
  }
  .text {
    width: 100%;
    > * {
      padding: 0;
      margin: 0;
      width: 100%;
    }
    top: -0.9rem;
    right: -2rem;
    position: absolute;
    color: #fc8;
    font-family: 'Las Enter', fantasy;
    font-size: xx-large;
    text-shadow: 0 0 0.5rem #e21;
    transform: skewY(-10deg);
  }
  .backstrip {
    background: #410;
    right: 2.2rem;
    top: -0.75rem;
    position: absolute;
    height: 5.5rem;
    width: 15rem;
    transform: skewX(15deg);
    border: 0.2em solid #e82;
    box-shadow: 0 0 0.5rem #e21;
    animation: 6s infinite flicker;
  }
  .frontstrip {
    top: -0.2rem;
    right: -0.75rem;
    position: absolute;
    height: 3.6rem;
    width: 19rem;
    background: #111;
    transform: skewY(-10deg);
    border: 0.2em solid #ea4;
    box-shadow: 0 0 0.5rem #e21;
  }
  .mountbar {
    position: absolute;
    border-radius: 999px;
    background: #aaa;
    background: linear-gradient(0deg, #888 0%, #ccc 50%, #888 100%);
    height: 0.3rem;
    width: 10rem;
    left: -0.1rem;
    &.mid-bar {
      top: 2rem;
    }
    &.lower-bar {
      top: 4rem;
    }
  }
}
